In [4]:
def aggregate_weather_data():
  city_data={}
  num_records = int(input("Ã‹nter the number of weather records: "))
  for _ in range(num_records):
    city = input("Enter city name: ")
    if city not in city_data:
      city_data[city] = {'temp_sum': 0, 'temp_count': 0, 'humidity_sum': 0, 'humidity_count': 0}
      temp_input = input(f"Enter temperature for {city}: ")
      if temp_input:
        temp = float(temp_input)
        city_data[city]['temp_sum'] += temp
        city_data[city]['temp_count'] += 1
      humidity_input = input(f"Enter humidity for {city}: ")
      if humidity_input:
        humidity = float(humidity_input)
        city_data[city]['humidity_sum'] += humidity
        city_data[city]['humidity_count'] += 1
  result = []
  for city in city_data:
    data = city_data[city]
    if data['temp_count']>0:
      avg_temp = data['temp_sum'] / data['temp_count']
    else:
      avg_temp = None
    if data['humidity_count']>0:
      avg_humidity = data['humidity_sum'] / data['humidity_count']
    else:
      avg_humidity = None
    result.append({'city':city, 'avg_temp':avg_temp, 'avg_humidity':avg_humidity})
  for data in result:
    print(data)
aggregate_weather_data()

Ã‹nter the number of weather records: 3
Enter city name: New York
Enter temperature for New York: 22
Enter humidity for New York: 60
Enter city name: Los Angels
Enter temperature for Los Angels: 28
Enter humidity for Los Angels: 50
Enter city name: India
Enter temperature for India: 24
Enter humidity for India: 55
{'city': 'New York', 'avg_temp': 22.0, 'avg_humidity': 60.0}
{'city': 'Los Angels', 'avg_temp': 28.0, 'avg_humidity': 50.0}
{'city': 'India', 'avg_temp': 24.0, 'avg_humidity': 55.0}

In [6]:
def prime_factorization(n):
  factors = []
  divisor = 2
  count = 0
  while n % divisor == 0:
    n //= divisor
    count += 1
  if count > 0:
    factors.append((divisor, count))
  divisor = 3
  while n > 1:
    count = 0
    while n > 1:
      count = 0
      while n % divisor == 0:
        n //= divisor
        count += 1
      if count > 0:
        factors.append((divisor, count))
      divisor += 2
    return factors
if __name__ == "__main__":
  try:
    number = int(input("Enter an integer greater than 1: "))
    if number <= 1:
      raise ValueError
    result = prime_factorization(number)
    print(f"Prime factorization of {number}: {result}")
  except ValueError:
    print("Invalid input. Please enter an integer greater than 1.")

Enter an integer greater than 1: 60
Prime factorization of 60: [(2, 2), (3, 1), (5, 1)]

In [9]:
!apt-get install sqlite3

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 49 not upgraded.
Need to get 768 kB of archives.
After this operation, 1,873 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.3 [768 kB]
Fetched 768 kB in 1s (720 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 123629 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.3_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.3) ...
Setting up sqlite3 (3.37.2-2ubuntu0.3) ...
Processing triggers for man-db (2.10.2-1) ...

In [16]:
import sqlite3
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()
cursor.execute('''
  CREATE TABLE products (
    id INTEGER PRIMARY KEY,
    name TEXT,
    price REAL
    );
  ''')
cursor.executemany('''
  INSERT INTO products (name, price)
  VALUES (?, ?)
''', [
    ('Product A', 10.00),
    ('Product B', 20.00),
    ('Product C', 30.00),
])
conn.commit()
cursor.execute('''
  SELECT
    name,
    price * 1.10 AS new_price
  FROM
    products
''')
rows = cursor.fetchall()
for row in rows:
  print(f"Product: {row[0]}, New Price: {row[1]:.2f}")
cursor.execute('''
  UPDATE products
  SET price = price * 1.10
''')
conn.commit()
cursor.execute('SELECT name, price FROM products')
rows = cursor.fetchall()
for row in rows:
  print(f"Product: {row[0]}, Updated Price: {row[1]:.2f}")
conn.close()

Product: Product A, New Price: 11.00
Product: Product B, New Price: 22.00
Product: Product C, New Price: 33.00
Product: Product A, Updated Price: 11.00
Product: Product B, Updated Price: 22.00
Product: Product C, Updated Price: 33.00